name: Use AWS CDK
description: Steps to use AWS CDK

runs:
  using: "composite"

  steps:
    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_DB_ROLE_ARN }}
        aws-region: ap-southeast-2

    - name: Install AWS CDK
      run: |
        cd cdk && npm install
