name: Create new RDS instance

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  create-rds:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: master
          fetch-depth: 0

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_DB_ROLE_ARN }}
          aws-region: ap-southeast-2

      - name: Install AWS CDK
        run: |
          cd cdk && npm install

      - name: Deploy RDS stack
        run: | 
          cd cdk && npx cdk deploy FlywayMySQLRDSStack --require-approval=never

