name: Release Single Version

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build from'
        required: true
        type: choice
        options:
          - flyway6

      tag:
        description: 'Tag for the release'
        required: true
        type: string

jobs:
  build-and-release:
    uses: ./.github/workflows/release.yaml
    secrets: inherit
    with:
      branch: ${{ inputs.branch }}
      tag: ${{ inputs.tag }}
